body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --secondary: rgb(56, 56, 56);
}

.main {
  text-decoration: none;
  color: white;
}

/* nav css */

.main {
  display: flex;
}

.portfolio-pic {
  border-radius: 50%;
  max-width: 50px;
  flex-wrap: wrap;
}

nav li {
  cursor: pointer;
}

.li {
  list-style: none;
}

.flex-row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(55, 55, 55);
  position: sticky;
}

nav {
  margin-left: 625px;
  margin-top: 34px;
}

.span {
  color:azure
}

.nav-items {
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(255, 255, 255);
}

.nav-items:hover {
  color:rgb(189, 189, 189);
}

.nav-items.false {
  border-left: 2px solid rgb(255, 255, 255);
}

.navActive {
  border-left: 2px solid rgb(255, 255, 255);
}

.main {
  text-decoration: none;
  margin-left: 15px;
}

.title {
  flex-wrap: wrap;
  padding-top: 8px;
  padding-left: 20px;
}

/* MEADIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  /* this will be applied on any screen smaller than 575px */
  body {
      position:relative;
  }

  .main {
    display: inline-block;
    margin: auto;
    text-align: center;
  }
  
  .title {
    padding: 0px;
  }

  h2 {
    margin: auto;
    width: 50%;
  }

  .hero-text h2 {
      margin: auto;
      text-align: center;
      font-size: 10vw;
  }

  .main {
    border-radius: 50%;
    margin-left: 15%;
    margin-top: 20px;
    text-align: center;
    flex-wrap: wrap;
  }
  .contact-container {
      font-size: 4vw;
  }

  footer p{
      font-size: 3vw;
  }
}